.idea
.ipynb_checkpoints
__pycache__

data/*.npy
data/*.npz
!data/.gitkeep

checkpoints/*.*
!checkpoints/.gitkeep

logs/*.*
!logs/.gitkeep

output/*.*
!output/.gitkeep

result/*.pth
!result/.gitkeep



